@font-face {
  font-family: JGS;
  src: url(../jgs_Font.ttf);
}

* {
  font-family: JGS;
}
:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  line-height: 1;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  :root a:hover {
    color: #747bff;
  }
  :root button {
    background-color: #f9f9f9;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em rgba(100, 108, 255, 0.6666666667));
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em rgba(247, 223, 30, 0.6666666667));
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  height: 20vh;
  bottom: -12vh;
  margin: 0;
  z-index: 10;
}

#message{
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
#answer{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  max-width: 600px;
}

.messages-container{
    position: absolute;
    bottom: 4rem;
    margin-top: 1rem;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}


.messages-container > div:nth-child(6){
  opacity: 100%;
}
.messages-container > div:nth-child(5){
  opacity: 90%;
}
.messages-container > div:nth-child(4){
  opacity: 80%;
}
.messages-container > div:nth-child(3){
  opacity: 50%;
}
.messages-container > div:nth-child(2){
  opacity: 30%;
}
.messages-container > div:nth-child(1){
  opacity: 10%;
}

.messages-container div{
  margin-top: 1rem;
  opacity: 1;
}

#collection-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    overflow: visible;
    height: 200px;
}
ul {
  padding-inline-start: 0;
  display: flex;
  margin: 0 20vw 0 20vw;
  justify-content: space-evenly;
}

li {
  list-style: none;
  width: 10vw;
  background-color: blue;
  height: 20vh;
  position: relative;
  cursor: pointer;
  transform: translateY(0);
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1), opacity 0.5s ease;
  transform-origin: center;
}

li:not(.clicked) {
  transform: scale(1);
}
li:not(.clicked):hover {
  width: 12vw;
  height: 25vh;
  top: -5vh;
  transform: translateY(-5vh);
}

.clicked {
  position: fixed;
  top: 45%;
  /* left: 50%; */
  /*transform: translate(-50%, -50%) scale(3.5);*/
  cursor: default;
  pointer-events: auto;
  z-index: 99;
}
.clicked .close-btn,
.clicked .tableau {
  visibility: visible;
}

.clicked .item-menu{
  display: none;
}
.clicked .collectionCadre{
  display: initial !important;
  position: absolute;
  left: -15rem;
  top: -11rem;
  pointer-events: none;
}
.clicked .close_button{
  pointer-events: initial !important;
}

.collectionCadre{
  text-align: center;
}

.close-btn {
  margin-left: 10px;
  background: none;
  border: none;
  color: red;
  font-weight: bold;
  cursor: pointer;
  visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.dropzone {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  position: relative;
}

.draggable {
  position: absolute;
}

.tableau {
  position: relative;
  width: 10vw;
  height: 10vh;
  background-color: white;
  visibility: hidden;
}
.tableau-container{
  background: transparent !important;
}
.tableau-container .background{
  position: relative;
  bottom: 3rem;
  left: -3rem;
  visibility: visible;
}

.nom {
  color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 0.9rem;
}

#fondHaut-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 1000;
}

#fondHaut {
  font-family: monospace;
  font-size: 14px;
  white-space: pre;
  margin: 0;
  padding: 10px;
  text-align: center;
}

#fondBas-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 2;
  overflow: hidden;
}

#fondBas {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.2;
  white-space: pre;
  margin: 0;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */


.specimen{
  width: 300px;
  border: solid 2px transparent !important;
  margin: 10px;
  padding: 5px;
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.specimen > .name{
  display: inline;
  border: solid 2px black;
  padding: 5px;
}
/* .specimen{
  width: 100px;
  border: solid 2px black;
  margin: 10px;
  padding: 5px;
  position: relative;
  z-index: 1000;
} */

#dropzone .background{
  pointer-events: none;
  position: absolute;
  left: 1rem;
  top: 0;
  z-index: -1;
  height: calc(100% - 2rem);
}
#dropzone .background #observatory-background{
  position: absolute;
  top: 0;
  left: 0;
}
#dropzone .background #fond-bas{
  position: absolute;
  bottom: -3rem;
  left: 0;
}
.name{
  font-weight: bold;
}

.relationAugmente{
  color: green;
  font-style: italic;
}

.relationBaisse{
  color: brown;
  font-style: italic;
}

.texteHistorique {
  position: fixed;
  top: 120px;
  right: 70px;
  width: 325px;
  height : 500px;

  visibility: visible;
  z-index: 3;
}
.texteHistorique p, .name, .relationAugmente, .relationBaisse{
  font-family: 'Courier New', Courier, monospace;
  font-size: 11px;
}
.texteHistorique h2{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding-bottom: 10px;
}


#historique-ouvert{
  position: fixed;
  top: 50px;
  right: 30px;
  visibility: visible;
  background-color: white;
  z-index: 2;
}

#historique-ferme{
  position: fixed;
  bottom: 1rem;
  right: 4rem;
  visibility: visible;
  background-color: white;
  z-index: 1000;
  cursor: pointer;
}

#historique-close-button{
  background-color: white;
  border: none;
  width: fit-content;
  position: fixed;
  top: 120px;
  right: 50px;
  padding: 0;
  cursor: pointer;
}

.texteHistorique #message-container{
  overflow: auto;
  height:400px;
}

